form(id='rttForm' method="POST", action = cart_url)
    input(type="hidden" value="Submit")

script.

    parent.postMessage("accept_confirmed", "*");
    console.log('submitting checkout_id form');
    document.getElementById('rttForm').submit();

